*~
*.pyc
*-bak
*.FCBak
*.swp
*-backups
firmware/libraries/Streaming
firmware/libraries/AccelStepper
firmware/libraries/Adafruit_BusIO
firmware/libraries/Adafruit_GFX_Library
firmware/libraries/Adafruit_ILI9341
firmware/libraries/Adafruit_Motor_Shield_V2_Library
firmware/libraries/Adafruit_SH110X
firmware/libraries/Adafruit_SSD1306
firmware/libraries/Adafruit_STMPE610
firmware/libraries/Adafruit_TouchScreen
firmware/libraries/Adafruit_TSC2007
firmware/libraries/Servo
firmware/libraries/SparkFun_Temperature_Sensor_-_STTS22H
firmware/libraries/Switch
firmware/libraries/CircularBuffer
